In [2]:
from datetime import datetime, timezone
import pandas as pd

In [3]:
def get_date_range(start, end):
    return pd.date_range(start, end, tz=timezone.utc)

In [14]:
after_datetime = datetime.fromisoformat("2022-03-14").replace(tzinfo=timezone.utc)
before_datetime = datetime.fromisoformat("2022-05-14").replace(tzinfo=timezone.utc)

date_range = pd.date_range(after_datetime, before_datetime, tz=timezone.utc)
date_range

DatetimeIndex(['2022-03-14 00:00:00+00:00', '2022-03-15 00:00:00+00:00',
               '2022-03-16 00:00:00+00:00', '2022-03-17 00:00:00+00:00',
               '2022-03-18 00:00:00+00:00', '2022-03-19 00:00:00+00:00',
               '2022-03-20 00:00:00+00:00', '2022-03-21 00:00:00+00:00',
               '2022-03-22 00:00:00+00:00', '2022-03-23 00:00:00+00:00',
               '2022-03-24 00:00:00+00:00', '2022-03-25 00:00:00+00:00',
               '2022-03-26 00:00:00+00:00', '2022-03-27 00:00:00+00:00',
               '2022-03-28 00:00:00+00:00', '2022-03-29 00:00:00+00:00',
               '2022-03-30 00:00:00+00:00', '2022-03-31 00:00:00+00:00',
               '2022-04-01 00:00:00+00:00', '2022-04-02 00:00:00+00:00',
               '2022-04-03 00:00:00+00:00', '2022-04-04 00:00:00+00:00',
               '2022-04-05 00:00:00+00:00', '2022-04-06 00:00:00+00:00',
               '2022-04-07 00:00:00+00:00', '2022-04-08 00:00:00+00:00',
               '2022-04-09 00:00:00+00:00', '2022-04-10 00:00:00+00:00',
               '2022-04-11 00:00:00+00:00', '2022-04-12 00:00:00+00:00',
               '2022-04-13 00:00:00+00:00', '2022-04-14 00:00:00+00:00',
               '2022-04-15 00:00:00+00:00', '2022-04-16 00:00:00+00:00',
               '2022-04-17 00:00:00+00:00', '2022-04-18 00:00:00+00:00',
               '2022-04-19 00:00:00+00:00', '2022-04-20 00:00:00+00:00',
               '2022-04-21 00:00:00+00:00', '2022-04-22 00:00:00+00:00',
               '2022-04-23 00:00:00+00:00', '2022-04-24 00:00:00+00:00',
               '2022-04-25 00:00:00+00:00', '2022-04-26 00:00:00+00:00',
               '2022-04-27 00:00:00+00:00', '2022-04-28 00:00:00+00:00',
               '2022-04-29 00:00:00+00:00', '2022-04-30 00:00:00+00:00',
               '2022-05-01 00:00:00+00:00', '2022-05-02 00:00:00+00:00',
               '2022-05-03 00:00:00+00:00', '2022-05-04 00:00:00+00:00',
               '2022-05-05 00:00:00+00:00', '2022-05-06 00:00:00+00:00',
               '2022-05-07 00:00:00+00:00', '2022-05-08 00:00:00+00:00',
               '2022-05-09 00:00:00+00:00', '2022-05-10 00:00:00+00:00',
               '2022-05-11 00:00:00+00:00', '2022-05-12 00:00:00+00:00',
               '2022-05-13 00:00:00+00:00', '2022-05-14 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [13]:
pd.date_range(after_datetime, periods=2, tz=timezone.utc)

DatetimeIndex(['2022-03-14 00:00:00+00:00', '2022-03-15 00:00:00+00:00'], dtype='datetime64[ns, UTC]', freq='D')

In [10]:
?pd.date_range

In [19]:
TEST="test"

def a(test=TEST):
    test="bbb"
    print(test, TEST)
    
a()

bbb test